<% layout("/layouts/boilerplate.ejs")%>
<body>

    <form action="/listings/new" method="get">
    <button>create new item</button>
    </form>
    
<div class="row row-cols-lg-3 row-cols-lg-2 row-cols-sm-1">
    <%for(item of allitems){%>
    <a href="<%=item.id%>" class="item-links">
    <div class="card col" >
        <img src=<%= item.image.url%>
        class="card-img-top" alt="item_Image" 
        style="height: 20rem;" >
    <div class="card-img-overlay"></div>
  <div class="card-body">
    <p class="card-text">
        <b><%= item.title%></b>
        <br>
        &#8377;<%= item.price%>
    </p>
  </div>
</div>
</a>
<%}%>
</div>
</body>